<div class="panel" ng-class="::classTipo">
    <div class="panel-heading"
         ng-if="titulo">
        <div id="titulo-heading">
            <i ng-class="::classIcone"></i>
            <span ng-bind="::textTitulo"></span>
        </div>
        <div ng-transclude="header"></div>
    </div>
    <div class="panel-body">
        <form name="{{formName}}">
            <div ng-transclude="body">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <md-button class="md-primary md-raised" ng-click="salvar()">Salvar</md-button>
        <md-button class="md-danger md-raised" ng-click="remover()">Excluir</md-button>
        <div ng-transclude="footer"></div>
    </div>
</div>